<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Raking Spotify</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <script defer src="/static/script.js"></script>
</head>
<body>
    <div class="container"> <!--cria um contêiner para agrupar-->
        <div class="box left-box">
            <h1>Ranking de Artistas Pop</h1>
            <ul id="artist-list"></ul><!-- Este elemento deve estar presente -->
        </div>

        <div class="box right-box">
            <h2>Gêneros Mais Comuns</h2>
            <ul id="genre-list"></ul>
        </div>
    </div>
</body>
</html>

<!-- ambas as box, criam uma lista, uma para os artistas e outra para os gêneros
 os itens serão inseridos pelo JS -->

